{% extends 'base.html' %}

{% block contents %}

<div id="random-asmaulhusna">
    <div class="container">
        <div class="row">
            <div class="col mb-3">
                <form action="{{ url_for('show_random') }}">
                    <div class="input-group mb-3">
                        <select name="result_num" class="form-select">
                            <option selected>Pilih jumlah hasil...</option>
                            {% for n in range(1, 11) %}
                            <option value="{{ n }}">{{ n }}</option>
                            {% endfor %}
                        </select>
                        <button class="btn btn-outline-dark" type="submit">Tampilkan!</button>
                    </div>
                  </form>
            </div>
        </div>

        <div class="row">

            {% for d in data %}
            <div class="col-md-12 mb-3">

                {% with card_data=d %}
                {% include "card.html" %}
                {% endwith %}

            </div>

            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}
